<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<H1 th:text="${title}"></H1>
<a th:href="@{/list}"> Return to list </a>

    <div>
        <form action="@{/form}" method="post" th:object="${product}">
            <div>
                <label for="name">Name</label>
                <div><input type="text" th:field="*{name}"/></div>
            </div>
            <div>
                <label for="price">Price</label>
                <div><input type="number" th:field="*{price}"/></div>
            </div>
            <div>
                <label for="createAt">Date</label>
                <div><input type="date" th:field="*{createAt}"/></div>
            </div>
            <div>
                <div> <input type="submit" value="Create"/></div>
            </div>
        </form>
    </div>

</body>
</html>